.gameArea {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.guesseZone {
  letter-spacing: 2em;
}

.choiceLetter {
  display: grid;
  grid-template-columns: repeat(13, 40px);
  grid-template-rows: repeat(2, 30px);
  grid-gap: 5px;
}

.letterTouch {
  border: 1px solid black;
  place-self: center;
  padding: 5px;
}

.letterTouch:hover {
  cursor: pointer;
}

.gray {
  background-color: gray;
}
